
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="WeatherApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        test content
    </div>
    <div ng-controller="WeatherMainController">
        <span>City:</span>
        <input type="text" id="citySearch" ng-model="cityName" />
        <button ng-click="getForecast()">Get Forecast</button>
    </div>


    @Scripts.Render("~/WebUI/app/shared/scripts/angular.min.js")
    @Scripts.Render("~/WebUI/app/app.js")
    @Scripts.Render("~/WebUI/app/services/forecastService.js")
    @Scripts.Render("~/WebUI/app/weatherMain/weatherMain.js")
</body>
</html>