<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataServiceConfiguration" type="WeatherForecast.DataService.Configuration.DataServiceConfiguration, WeatherForecast.DataService"/>
  </configSections>
  <dataServiceConfiguration apiKey="e6014ef1059a96822e49f8835504b9ec" urlTemplate="http://api.openweathermap.org/data/2.5/forecast?q={0},{1}&amp;mode=json&amp;appid={2}" />
</configuration>