
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 
        test content
    </div>

    @section scripts {
        @Scripts.Render("~/WebUI/shared/scripts/angular.js")
        @Scripts.Render("~/WebUI/app/app.js")
    }
</body>
</html>